html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.active {
    outline: 2px solid red;
}

.hover {
    outline: 2px solid blue;
}

.drop-item {
    cursor: pointer;
    margin-bottom: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    position: relative;
}

.drop-item .remove {
    position: absolute;
    top: 4px;
    right: 4px;
}

.ui-draggable-dragging {
    max-width: 6rem;
}