{% extends 'myapp/base.html' %}
{% block body %}
{% load crispy_forms_tags %}
<div class="card col-md-8 offset-2 p-5 mt-3 bg-light">
    <h1 class="text-center">Login</h1>
    <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="row text-center mt-4">
                <div class="col">
                    <button type="submit" class="btn btn-success col-md-3 my-auto mx-2">Login</button>
                    <a href="{% url 'register' %}" class="btn btn-primary col-md-3 my-auto">Register</a>
                </div>

            </div>
    </form>
</div>
{% endblock %}