<div class="text-center" *ngIf="gameInSession !== true">
  <button class="btn btn-primary" (click)="startGame()">Begin Game</button>
</div>

<div *ngIf="gameInSession === true">

  <div class="container">
    <div class="row d-flex justify-content-center text-center">
      <div class="column">
        <div class="card p-4">
          <div class="justify-content-center">
            <img class="rounded mx-auto d-block" src="{{pictureUrl}}" alt="beans"/>
            <span class="h1" *ngFor="let letter of wordLengthArray">{{letter.toUpperCase() + " "}}</span>
          </div>
        </div>
      </div>

      <div class="column col-4">
        <div class="card">
          <div class="d-grid gap-3" *ngIf="incorrectlyGuessedLetters.length <= 5 && wordLengthArray.includes('_')">
            <span class="mx-1 my-2" style="width: 50px; display: inline-block;" *ngFor="let letter of letters">
              <button *ngIf="!correctlyGuessedLetters.includes(letter) && !incorrectlyGuessedLetters.includes(letter)"
                      class="btn btn-primary btn-lg" style="width: 50px; display: inline-block;" (click)="validateLetter(letter)">
                {{letter.toUpperCase()}}
              </button>
              <button *ngIf="correctlyGuessedLetters.includes(letter)"
                      class="btn btn-success btn-lg" style="width: 50px; display: inline-block;" (click)="validateLetter(letter)">
                {{letter.toUpperCase()}}
              </button>
              <button *ngIf="incorrectlyGuessedLetters.includes(letter)"
                      class="btn btn-danger btn-lg" style="width: 50px; display: inline-block;" (click)="validateLetter(letter)">
                {{letter.toUpperCase()}}
              </button>
            </span>
          </div>
        <div class="text-center p-3" *ngIf="incorrectlyGuessedLetters.length > 5 || !wordLengthArray.includes('_')">
            <span class="h1" *ngIf="correctWord !== '' && incorrectlyGuessedLetters.length > 5">The correct word was "{{correctWord}}"</span>
            <span class="h1" *ngIf="!wordLengthArray.includes('_')">Congratulations, you won! Score: {{incorrectlyGuessedLetters.length}}</span>
          <br />
            <button class="btn btn-primary" (click)="resetGame()">Play again</button>
        </div>
        </div>
      </div>
        


    </div>
  </div>


</div>
